body {
    background-color: #e1e1d1;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

.one {
    background-color: #FF9F1C;
    height: 600px;
    transform: skew(0deg, 10deg) translateY(-150px);
}

.one .container {
    transform: skew(0deg, -10deg);
    padding-top: 230px;
}

.container h1 {
    color: white;
    font-size: 3em;
    padding: 1em 0;
    font-weight: normal;
}

.container p {
    color: #fff;
    font-size: 1em;
    line-height: 1.5em;
}

.two {
    height: 600px;
}

.two .container {
    padding-top: 240px;
}

.two .container h1,
.two .container p {
    color: #000;
}

.three {
    background-color: #e71d36;
    height: 600px;
    position: relative;
}

.three :before {
    content: '';
    width: 50%;
    height: 200px;
    position: absolute;
    background-color: #e71d36;
    bottom: 0;
    left: 0;
    top: 495px;
    transform: skewY(10deg);
}

.three :after {
    content: '';
    width: 50%;
    height: 200px;
    position: absolute;
    background-color: #e71d36;
    bottom: 0;
    right: 0;
    top: 495px;
    transform: skewY(-10deg);
}

.three .container {
    padding-top: 230px;
}

.four {
    height: 800px;
    background-color: #011627;
}

.four .container {
    padding-top: 300px;
}